* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 40px 0;
  background-color: rgb(247, 247, 247);
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch_btn {
  color: white;
  padding: 3px 6px;
  border: none;
  background-color: #64748b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.switch_btn:hover {
  background-color: #8b5cf6;
  cursor: pointer;
}

.person_img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px hsla(258, 90%, 66%, 0.811);
}

.review_container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_of_all_elements {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  color: #8b5cf6;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.title {
  color: #334155;
  margin-bottom: 20px;
}

.quote {
  color: #64748b;
  word-spacing: 0.8px;
  letter-spacing: 0.4px;
}