* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: rgb(248, 248, 248);
}

.main_container {
  background-color: white;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.195);
}

.review_container {
  height: 70%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls_container {
  height: 30%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 30px;
}

.review_container img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 18px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.241);
  margin-top: 20px;
}

.review_container h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 7px;
}


.review_container h5 {
  color:#645CFF ;
  margin-bottom: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.review_container p {
  color: #475569;
  width: 500px;
}

.change_button {
  color: #645CFF;
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  font-weight: 500;
  margin: 20px;
}

.change_button:hover {
  cursor: pointer;
}

.random_button {
  margin-top: 20px;
  background-color: #807bd5fa;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
}

.lt {
  margin-right: 50px;
}

.gt {
  margin-left: 50px;
}

.random_button:hover {
  
  background-color: #645CFF;
  cursor: pointer;
}
