* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 0;
  background-color: rgb(232, 232, 232);
}

.title_footer {
  background-color: #10b981;
  width: 100px;
  height: 3px;
  margin-top: 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.destinations_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  width: 100vw;
  padding: 0 20px;
  margin-bottom: 40px;
}

.destination_container {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
  sans-serif;
}

.image_container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.price {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #10b981;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
  border-top-right-radius: 10px;
}

.content_container {
  padding: 25px;
  text-align: center;
}

.content_container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.content_container p {
  color: #617d98;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.btn {
  background-color: transparent;
  border: 1px solid #10b981;
  color: #10b981;
  padding: 10px 20px;
  width: 400px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #10b981;
  border: 1px solid #10b981;
  color: white;
  cursor: pointer;
}