* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 40px 0;
  background-color: rgb(247, 247, 247);
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
}

.lorem_form {  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

h1 {
  font-weight: 400;
  letter-spacing: 2px;
}

.btn {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-left: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.232);
  cursor: pointer;
}

.amount_input {
  border: none;
  width: 70px;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(221, 221, 221);
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.15em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 20px;
}