* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 40px 0;
  background-color: rgb(247, 247, 247);
  letter-spacing: 0.8px;
}

h1 {
  font-weight: 400;
  font-size: 2.6em;
}

.yellow_bar {
  background-color: #f59e0b;
  width: 150px;
  height: 3px;
  margin-top: 5px;
}

.our_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

button {
  background-color: #f59e0b;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.112);
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: #a36905;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.256);
}

.btn_container {
  margin-top: 16px;
  margin-bottom: 30px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}

.rest_of_the_stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_item {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 500px;
  border-radius: 6px;
  margin-bottom: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.112);
  display: flex;
  flex-direction: column;
}

.item_price {
  color: white;
  background-color: #f59e0b;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 20px;
}

.item_title_and_price {
  display: flex;
  background-color: transparent;
  margin-top: 10px;
  align-items: center;
  min-height: 50px;
}

.item_title {
  font-weight: 400;
  font-size: 1.4em;
}

.item_description {
  color: #64748b;
  width: 300px;
  letter-spacing: 2px;
  text-align: start;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
}

.desc_container {
  height: 150px;
}

.item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 10px 20px 10px;
}