* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 40px 0;
  background-color: rgb(247, 247, 247);
  letter-spacing: 0.8px;
}

.buttons_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons_section button {
  padding: 5px 10px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: 0.4s color;
  transition: 0.4s border-bottom;
}

.buttons_section button:hover {
  color: #14b8a6;
  border-bottom: 2px solid #14b8a6;
}

.job_info_header {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-top: 30px;
}

.job_info_header h1 {
  font-weight: 400;
  margin-bottom: 12px;
}

.company {
  background-color: rgb(202, 202, 202);
  color: rgb(74, 74, 74);
  width: 80px;
  text-align: center;
  padding: 3px 6px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.dates {
  color: rgb(132, 132, 132);
}

.job_info_main {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin-top: 30px;
}

.job_duty {
  width: 550px;
  margin-top: 30px;
  color: rgba(red, green, blue, alpha);
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}